.newscards {
  background-color: #f5f6f7;
  padding: 80px 102px 80px 106px;
  color: #1a1b22;
}

.newscards__title {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0 0 64px 0;
}

.newscards__list {
  display: flex;
  margin: 0;
  padding: 0 0 64px 0;
  column-gap: 16px;
  row-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.newscard__button-container {
  display: flex;
  justify-content: center;
}

.newscards__show-more {
  border: none;
  border-radius: 80px;
  background-color: #e8e8e8;
  cursor: pointer;
  width: 288px;
  height: 64px;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .newscards {
    padding: 40px 40px;
  }

  .newscards__title {
    font-size: 30px;
    line-height: 34px;
    padding: 0 0 32px 0;
  }

  .newscards__list {
    padding: 0 0 32px 0;
    gap: 8px;
  }

  .newscards__show-more {
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 530px) {
  .newscards {
    padding: 32px 16px 24px;
  }

  .newscards__title {
    padding: 0 0 58px 0;
  }

  .newscards__list {
    padding: 0 0 16px 0;
    row-gap: 10px;
  }

  .newscards__show-more {
    width: 288px;
  }
}
