.savedNewsHeader {
  display: flex;
  flex-direction: column;
  color: #1a1b22;
}

.savedNewsHeader__text-container {
  padding: 0 0 0 104px;
}

.savedNewsHeader__saved {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  margin: 0;
  padding: 40px 0 0 0;
}

.savedNewsHeader__info {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  padding: 28px 0 30px 0;
}

.savedNewsHeader__keywords {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0 0 56px 0;
}

span {
  font-weight: 700 !important;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
