.about {
  display: flex;
  background-color: #ffffff;
}

.about__picture {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin: 80px 56px 80px 104px;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 131px 0 0 0;
  width: 600px;
}

.about__header {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0 0 24px 0;
}

.about__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin: 0;
}

@media (max-width: 768px) {
  .about__picture {
    width: 232px;
    height: 232px;
    margin: 61px 32px 61px 40px;
  }

  .about__content {
    padding: 40px 0 0 0;
    width: 424px;
  }

  .about__header {
    font-size: 30px;
    padding: 0 0 16px 0;
  }

  .about__description {
    font-size: 14px;
    line-height: 18px;
  }
}
