.navigation {
  display: flex;
  padding: 19px 104px 0 104px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff33;
  max-width: 100vw;
}

.navigation__saved-news {
  color: #1a1b22;
  border-color: #d1d2d6;
}

a {
  text-decoration: none;
  color: inherit;
  max-height: max-content;
  max-width: max-content;
}

.navigation__logo {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  width: 200px;
  height: 24px;
  padding: 0 0 12px 0;
  margin: 0;
  text-decoration: none;
}

.navigation__mobile-menu {
  visibility: hidden;
}

.navigation__button-container {
  display: flex;
  gap: 42px;
  color: inherit;
  align-items: center;
}

.navigation__home-button_black {
  width: 68px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 11px 0 25px 0;
  color: inherit;
}

.navigation__home-button {
  width: 68px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 11px 0 22px 0;
  border-bottom: 3px solid;
  border-color: inherit;
  color: inherit;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.navigation__home-button:hover {
  border-color: transparent;
}

.navigation__signin-button {
  width: 176px;
  height: 48px;
  color: inherit;
  background-color: transparent;
  border: 1px solid;
  border-color: inherit;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 0 11px 0;
}

.navigation__savednews-button_black {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0 25px 0;
  color: #1a1b22;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid;
  border-color: inherit;
}

.navigation__savednews-button_black:hover {
  border-color: transparent;
  cursor: pointer;
}

.navigation__savednews-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0 25px 0;
  color: #b6bcbf;
  background-color: transparent;
  border: none;
}

.navigation__savednews:hover {
  cursor: pointer;
}

.navigation__signout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 12px 0;
  color: inherit;
  background-color: inherit;
  border: 1px solid;
  border-radius: 100px;
  width: 112px;
  height: 48px;
  cursor: pointer;
}

.navigation__logout {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 14px 40px 0 40px;
  }

  .navigation__logo {
    padding: 0 0 14px 0;
  }

  .navigation__button-container {
    gap: 16px;
  }

  .navigation__home-button_black {
    font-weight: 500;
    font-size: 16px;
    width: 60px;
    height: 53px;
    padding: 8px 0 17px 0;
  }

  .navigation__home-button {
    font-weight: 500;
    font-size: 16px;
    width: 60px;
    height: 53px;
    padding: 8px 0 17px 0;
  }

  .navigation__signin-button {
    width: 152px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
  }

  .navigation__savednews-button_black {
    font-size: 16px;
    padding: 8px 0 17px 0;
  }

  .navigation__savednews-button {
    font-size: 16px;
    padding: 8px 0 17px 0;
  }

  .navigation__signout {
    gap: 13px;
    font-size: 16px;
    width: 100px;
    height: 40px;
  }

  .navigation__logout {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 530px) {
  .navigation {
    padding: 16px;
  }

  .navigation__logo {
    font-size: 16px;
    width: 117px;
    height: 24px;
    padding: 0;
  }

  .navigation__mobile-menu {
    visibility: visible;
    background-image: url('../../assets/menu-icon.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .navigation__button-container {
    display: none;
    visibility: hidden;
  }

  .navigation__home-button_black {
    visibility: hidden;
  }

  .navigation__home-button {
    visibility: hidden;
  }

  .navigation__signin-button {
    visibility: hidden;
  }

  .navigation__savednews-button_black {
    visibility: hidden;
  }

  .navigation__savednews-button {
    visibility: hidden;
  }

  .navigation__signout {
    visibility: hidden;
  }

  .navigation__logout {
    visibility: hidden;
  }
}
