.searchform {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.searchform__input-container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0 0 80px 0;
}

.searchform_input {
  width: 584px;
  height: 62px;
  border: #d1d2d6 1px solid;
  border-radius: 100px;
  margin: 0;
  padding: 0 0 0 24px;
  caret-color: #2f71e5;
}

.searchform_input:focus {
  outline: none;
}

.searchfrom__submit-button {
  position: absolute;
  width: 168px;
  height: 64px;
  color: #ffffff;
  background-color: #2f71e5;
  border: none;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  right: 0;
  cursor: pointer;
}

.searchfrom__submit-button:hover {
  background-color: #347eff;
}

.searchfrom__submit-button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .searchform__input-container {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0 0 48px 0;
  }

  .searchform_input {
    width: 452px;
    height: 54px;
  }

  .searchform_input:focus {
    outline: none;
  }

  .searchfrom__submit-button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 530px) {
  .searchform__input-container {
    position: static;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    padding: 0 0 32px 0;
  }

  .searchform_input {
    width: 270px;
    height: 56px;
    padding: 0 0 0 16px;
  }

  .searchfrom__submit-button {
    position: static;
    width: 288px;
    height: 56px;
  }

  .searchfrom__submit-button:hover {
    background-color: #347eff;
  }

  .searchfrom__submit-button:active {
    background-color: #2a65cc;
  }
}
