.searchform {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.searchform__header {
  font-family: roboto slab;
  font-weight: 400;
  font-size: 60px;
  max-width: 608px;
  text-wrap: wrap;
  margin: 0;
  padding: 80px 0 0 0;
  max-height: 128px;
}

.searchform__subtext {
  margin: 0;
  padding: 32px 0 88px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  width: 608px;
}

.searchform__input-container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0 0 80px 0;
}

.searchform_input {
  width: 584px;
  height: 62px;
  border: #d1d2d6 1px solid;
  border-radius: 100px;
  margin: 0;
  padding: 0 0 0 22px;
  caret-color: #2f71e5;
}

.searchform_input:focus {
  outline: none;
}

.searchfrom__submit-button {
  position: absolute;
  width: 168px;
  height: 64px;
  color: #ffffff;
  background-color: #2f71e5;
  border: none;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  right: 0;
  cursor: pointer;
}

.searchfrom__submit-button:hover {
  background-color: #347eff;
}

.searchfrom__submit-button:active {
  background-color: #2a65cc;
}
