.header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background: url('../../assets/background-image.svg') no-repeat center;
  background-size: cover;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header__title {
  font-family: roboto slab;
  font-weight: 400;
  font-size: 60px;
  max-width: 608px;
  text-wrap: wrap;
  margin: 0;
  padding: 80px 0 0 0;
  max-height: 128px;
}

.header__subtext {
  margin: 0;
  padding: 32px 0 88px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  max-width: 608px;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 36px;
    max-width: 385px;
    padding: 38px 0 0 0;
    max-height: 80px;
  }

  .header__subtext {
    padding: 16px 0 48px 0;
    max-width: 452px;
  }
}

@media screen and (max-width: 530px) {
  .header__title {
    font-size: 36px;
    max-width: 285px;
    text-wrap: wrap;
    margin: 0;
    padding: 30px 0 0 0;
    max-height: 80px;
  }

  .header__subtext {
    padding: 16px 0 122px 0;
    max-width: 288px;
  }
}
