.footer {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.footer__credits {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 0;
  padding: 32px 0 26px 104px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  gap: 40px;
  padding: 30px 104px 26px 0;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__link-group-1 {
  display: flex;
  gap: 40px;
}

.footer__home {
  border: none;
  background-color: #ffffff;
  width: 49px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.footer__home:hover {
  cursor: pointer;
}

.footer__tripleten {
  border: none;
  background-color: #ffffff;
  width: 74px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.footer__tripleten:hover {
  cursor: pointer;
}

.footer__link-group-2 {
  display: flex;
  height: 24px;
  gap: 24px;
}

.footer__git {
  background-image: url('../../assets/git-icon.svg');
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.footer__git:hover {
  cursor: pointer;
}

.footer__socialmedia {
  background-image: url('../../assets/linkedin-icon.jpg');
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.footer__socialmedia:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer__credits {
    padding: 24px 0 18px 40px;
  }

  .footer__links {
    display: flex;
    gap: 24px;
    padding: 21px 40px 19px 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .footer {
    flex-direction: column-reverse;
    align-items: normal;
  }

  .footer__credits {
    padding: 38px 16px 22px;
  }

  .footer__links {
    padding: 20px 16px 0;
    line-height: 18px;
    justify-content: space-between;
  }

  .footer__link-group-1 {
    flex-direction: column;
    gap: 30px;
  }

  .footer__home {
    border: none;
    background-color: #ffffff;
    width: 49px;
    height: 24px;
    padding: 0;
    margin: 0;
  }

  .footer__home:hover {
    cursor: pointer;
  }

  .footer__tripleten {
    border: none;
    background-color: #ffffff;
    width: 74px;
    height: 24px;
    padding: 0;
    margin: 0;
  }

  .footer__tripleten:hover {
    cursor: pointer;
  }

  .footer__link-group-2 {
    display: flex;
    height: 24px;
    gap: 40;
  }

  .footer__git {
    background-image: url('../../assets/git-icon.svg');
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #ffffff;
    padding: 0;
  }

  .footer__git:hover {
    cursor: pointer;
  }

  .footer__socialmedia {
    background-image: url('../../assets/linkedin-icon.jpg');
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #ffffff;
    padding: 0;
  }

  .footer__socialmedia:hover {
    cursor: pointer;
  }
}
