.newscard {
  display: flex;
  position: relative;
  max-width: 400px;
  max-height: 576px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 16px;
}

.newscard__image {
  max-width: 400px;
  max-height: 272px;
  border-radius: 16px 16px 0 0;
}

.newscard__keyword {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 10px;
  border: none;
  padding: 8px 22px;
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.newscard__save-button {
  position: absolute;
  background-image: url('../../assets/save.svg');
  width: 40px;
  height: 40px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  border: none;
  padding: 0;
}

.newscard__signin-to-save {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 45px;
  width: 182px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
}

.newscard__save-button:hover .newscard__signin-to-save {
  visibility: visible;
}

.newscard__save-button:hover {
  background-image: url('../../assets/save-hover.svg');
}

.newscard__remove-button {
  position: absolute;
  background-image: url('../../assets/remove.svg');
  width: 40px;
  height: 40px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  border: none;
  padding: 0;
}

.newscard__remove-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 45px;
  width: 159px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  visibility: hidden;
}

.newscard__remove-button:hover .newscard__remove-banner {
  visibility: visible;
}

.newscard__remove-button:hover {
  background-image: url('../../assets/remove-hover.svg');
}

.newscard__content {
  padding: 20px 24px 24px 24px;
}

.newscard__published-date {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b6bcbf;
  margin: 0 0 12px 0;
}

.newscard__title {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  margin: 0;
}

.newscard__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  margin: 16px 0 18px 0;
}

.newscard__publisher {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}
